/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400; }
  body strong {
    font-weight: 700; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #0072bc; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section.sobre {
  background: #f5f5f5;
  position: relative;
  padding-bottom: 50px; }
  section.sobre .itens {
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 65px auto;
    text-align: center; }
    section.sobre .itens [class^="topicos-"] {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid #000;
      margin: 10px;
      font-size: 20px;
      font-size: 1.25rem;
      z-index: 1; }
      @media (min-width: 1200px) {
        section.sobre .itens [class^="topicos-"] {
          float: left;
          width: 25%; } }
      section.sobre .itens [class^="topicos-"] h1 {
        color: #969696;
        font-weight: 600;
        margin: 10px 0; }
      section.sobre .itens [class^="topicos-"] [class^="icone-"] {
        margin: 0px 20px;
        background: #3d8af7;
        padding: 0px 0; }
        section.sobre .itens [class^="topicos-"] [class^="icone-"] i {
          position: relative;
          z-index: 3;
          color: white;
          font-size: 48px;
          font-size: 3rem;
          top: -75px; }
      section.sobre .itens [class^="topicos-"] .hep {
        margin: 40px;
        width: 120px;
        position: relative;
        border-bottom: 50px solid #0072bc;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        z-index: 2; }
        section.sobre .itens [class^="topicos-"] .hep:before {
          content: "";
          position: absolute;
          top: -25px;
          left: 0px;
          width: 0px;
          height: 0px;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 25px solid #0072bc; }
        section.sobre .itens [class^="topicos-"] .hep:after {
          content: "";
          position: absolute;
          bottom: -130px;
          left: -10px;
          width: 120px;
          height: 0;
          border-width: 40px 30px;
          border-style: solid;
          border-color: #0072bc transparent transparent; }
  section.sobre .textos {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-size: 1.5625rem; }
    @media (min-width: 1200px) {
      section.sobre .textos {
        float: left;
        width: 100%; } }
    section.sobre .textos .p1, section.sobre .textos .p2 {
      margin: 5px;
      padding: 5px;
      color: #969696; }
      section.sobre .textos .p1 strong, section.sobre .textos .p2 strong {
        color: #0072bc;
        font-weight: 600; }
      section.sobre .textos .p1 span, section.sobre .textos .p2 span {
        text-decoration: underline;
        color: #0072bc;
        font-weight: 600; }
      section.sobre .textos .p1 h1, section.sobre .textos .p2 h1 {
        font-size: 30px;
        font-size: 1.875rem;
        margin-bottom: 30px; }

section.habilidades {
  padding-bottom: 50px; }
  section.habilidades h1 {
    font-size: 30px;
    font-size: 1.875rem;
    color: #969696; }
    @media (min-width: 1200px) {
      section.habilidades h1 {
        margin-left: 4.16667%; } }
  section.habilidades .icon-habilidades {
    margin: 20px 0;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      section.habilidades .icon-habilidades {
        float: left;
        width: 83.33333%; } }
    @media (min-width: 1200px) {
      section.habilidades .icon-habilidades {
        margin-left: 4.16667%; } }
    section.habilidades .icon-habilidades [class^="icone-"] {
      display: inline-block;
      margin-right: 40px;
      padding: 0 10px;
      text-align: center;
      font-size: 100px;
      font-size: 6.25rem; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-html {
        color: #f48d08; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-css {
        color: #393df5; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-sass {
        color: #c50cd1; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-bootstrap {
        color: #670798; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-js {
        color: #d3a60a; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-node {
        color: #72ba72; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-gulp {
        color: #fb0320; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-bower {
        color: #f48d08; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-github {
        color: #000; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-photoshop {
        color: #1820bb; }
      section.habilidades .icon-habilidades [class^="icone-"].icone-wordpress {
        color: rgba(0, 0, 0, 0.7); }
      section.habilidades .icon-habilidades [class^="icone-"] h3 {
        color: #000;
        font-size: 18px;
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-top: 20px; }

section.portfolio {
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  section.portfolio .descricao {
    text-align: center;
    font-size: 30px;
    font-size: 1.875rem;
    margin: 60px 0;
    color: #969696; }
    section.portfolio .descricao strong {
      color: #0072bc; }
  section.portfolio .print-job {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px 15px 10px;
    background: white; }
    @media (min-width: 1200px) {
      section.portfolio .print-job {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 1200px) {
      section.portfolio .print-job {
        margin-left: 4.16667%; } }
    section.portfolio .print-job h1 {
      font-size: 18px;
      font-size: 1.125rem;
      margin: 15px 0;
      letter-spacing: 2px; }
    section.portfolio .print-job h3 {
      font-size: 16px;
      font-size: 1rem;
      margin-bottom: 30px; }

section.contato {
  padding-bottom: 50px; }
  section.contato .descricao {
    text-align: center;
    font-size: 30px;
    font-size: 1.875rem;
    margin: 60px 0;
    color: #969696; }
    section.contato .descricao strong {
      color: #0072bc;
      text-decoration: underline; }
  section.contato .texto-contato {
    margin-top: 30px;
    color: #969696;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      section.contato .texto-contato {
        margin-left: 4.16667%; } }
    @media (min-width: 1200px) {
      section.contato .texto-contato {
        float: left;
        width: 100%; } }
    section.contato .texto-contato .p1, section.contato .texto-contato .p2 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
      font-size: 1.25rem;
      margin: 20px auto; }
      @media (min-width: 1200px) {
        section.contato .texto-contato .p1, section.contato .texto-contato .p2 {
          float: left;
          width: 66.66667%; } }
      section.contato .texto-contato .p1 a, section.contato .texto-contato .p2 a {
        color: #0072bc;
        text-decoration: underline; }
  section.contato .form {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 80px 0 20px 0; }
    @media (min-width: 1200px) {
      section.contato .form {
        margin-left: 4.16667%; } }
    @media (min-width: 1200px) {
      section.contato .form {
        float: left;
        width: 100%; } }
    section.contato .form span,
    section.contato .form input,
    section.contato .form .next,
    section.contato .form .send {
      float: left; }
    section.contato .form span {
      color: #969696;
      margin-top: 5px; }
    section.contato .form .campo,
    section.contato .form .botoes {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 15px auto; }
      @media (min-width: 1200px) {
        section.contato .form .campo,
        section.contato .form .botoes {
          float: left;
          width: 100%; } }
      section.contato .form .campo input[type="text"],
      section.contato .form .botoes input[type="text"] {
        border-color: #969696;
        border-width: 0px 0px 1px 0px;
        width: 40%;
        margin-left: 10px; }

header {
  position: relative;
  background-image: url("../galeria/fundo1.png");
  background-repeat: no-repeat;
  background-attachament: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 25, 0.7); }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header .barra-header {
    width: 100%;
    position: relative;
    float: left;
    background: #1b242f;
    position: fixed;
    z-index: 1030; }
    header .barra-header .logo {
      display: inline-flex;
      height: 100%;
      padding: 5px 10px; }
      header .barra-header .logo:hover {
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        header .barra-header .logo:hover a {
          color: #f48d08; }
      header .barra-header .logo a {
        color: #3d8af7;
        display: block;
        float: left;
        margin: 10px 0;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 24px;
        font-size: 1.5rem; }
    header .barra-header .menu {
      float: right;
      margin: 10px; }
      header .barra-header .menu ul {
        display: inline-flex; }
        header .barra-header .menu ul li {
          margin: 10px;
          font-size: 18px;
          font-size: 1.125rem;
          text-transform: uppercase;
          color: #3d8af7;
          letter-spacing: 2px; }
          header .barra-header .menu ul li a {
            padding-bottom: 20px; }
            header .barra-header .menu ul li a:hover {
              color: #f48d08; }
  header .chamada {
    text-align: center;
    color: #072c61;
    margin: 180px 0; }
    header .chamada .my-foto {
      clear: both;
      border-radius: 50%;
      border: 10px solid white;
      margin-bottom: 10px;
      width: 250px;
      height: 250px;
      background-position: center; }
      header .chamada .my-foto:hover {
        border-color: rgba(200, 255, 255, 0.7); }
    header .chamada h3 {
      font-weight: 400;
      font-size: 28px;
      font-size: 1.75rem;
      margin: 10px 0 170px 0; }
    header .chamada p {
      font-size: 50px;
      font-size: 3.125rem;
      font-weight: 600;
      margin-bottom: 30px; }
      header .chamada p .first {
        color: #fff;
        padding: 0 2px;
        background: #0072bc; }
      header .chamada p .second {
        border-bottom: 3px solid #072c61; }

/* ## Efeito scroll ## */
.ativo a {
  color: #f48d08; }

footer {
  background-color: #1b242f;
  height: 450px; }
  footer .down {
    content: "";
    height: 0px;
    border-top: 150px solid white;
    border-bottom: 50px solid transparent;
    border-right: 950px solid transparent;
    border-left: 950px solid transparent; }
  footer .social,
  footer h1 {
    text-align: center; }
    footer .social li,
    footer h1 li {
      display: inline-block;
      border: 2px solid #1b586a;
      border-radius: 50%;
      margin: 10px 15px 100px;
      width: 70px;
      height: 70px; }
      footer .social li a,
      footer h1 li a {
        text-decoration: none; }
        footer .social li a i,
        footer h1 li a i {
          font-size: 28px;
          font-size: 1.75rem;
          color: white;
          margin-top: 20px; }
  footer h1 {
    margin-top: 30px;
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #e1e1e1; }
    footer h1 span {
      color: #0072bc;
      margin-left: 5px; }
    footer h1 i {
      color: #0072bc;
      font-size: 15px;
      font-size: 0.9375rem; }

.chamada_section {
  height: 130px;
  clear: both; }
  .chamada_section .sp-left {
    top: 50%;
    height: 2px;
    background: #072c61;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      .chamada_section .sp-left {
        float: left;
        width: 16.66667%; } }
    @media (min-width: 1200px) {
      .chamada_section .sp-left {
        margin-left: 8.33333%; } }
  .chamada_section .sp-center {
    font-size: 60px;
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 120px;
    height: 2px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      .chamada_section .sp-center {
        float: left;
        width: 16.66667%; } }
    @media (min-width: 1200px) {
      .chamada_section .sp-center {
        margin-left: 12.5%; } }
  .chamada_section .sp-rigth {
    top: 50%;
    line-height: 150px;
    height: 2px;
    background: #072c61;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      .chamada_section .sp-rigth {
        float: left;
        width: 16.66667%; } }
    @media (min-width: 1200px) {
      .chamada_section .sp-rigth {
        margin-left: 75%; } }

.box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  margin: 30px 50px;
  padding: 20px 0;
  box-shadow: 2px 3px 10px 2px #d8d8d8; }
  @media (min-width: 1200px) {
    .box {
      float: left;
      width: 100%; } }
  .box .line {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px 0;
    border: 0.5px solid #d8d8d8;
    box-shadow: 2px 2px 10px 4px #d8d8d8; }
    @media (min-width: 1200px) {
      .box .line {
        float: left;
        width: 91.66667%; } }
    @media (min-width: 1200px) {
      .box .line {
        margin-left: 4.16667%; } }

.btn {
  border-radius: 5px;
  border-color: transparent;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 2px;
  color: #e1e1e1;
  padding: 10px;
  margin-right: 25px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7); }
  .btn i {
    font-size: 18px;
    font-size: 1.125rem; }

.next {
  background-color: #0072bc; }

.send {
  background-color: #009aff; }
