section.sobre
	background: $bg_cinza_ligth
	position: relative
	padding-bottom: 50px


	.itens
		+make-sm-column(12)
		clear: both
		//background: $bg_verde_ligth
		//+flexbox
		margin: 65px auto 150px auto
		text-align: center


		[class^="topicos-"]
			+make-sm-column(3)
			//border: 1px solid #000
			color: $cinza-escuro
			+font-size(16px)
			z-index: 1
	
		[class^="topicos-"]
			+breakpoint($tablet)
				+make-sm-column(6)
				margin: 40px auto
				+font-size(18px)


		[class^="topicos-"]
			+breakpoint($sm_celular)
				padding-bottom: 15px
			h1
				color: $cinza_wp
				font-size: 20pt
				font-weight: $semi-bold
				margin: 10px auto
				//background: $bg_ligth_cinza


			[class^="icone-"]
					margin: 0px 20px
					//background: $azul-claro
					padding: 20px 0


					.hep
						margin: 10px auto
						width: 120px
						position: relative
						border-bottom: 50px solid $azul
						border-left: 10px solid transparent
						border-right: 10px solid transparent
						z-index: 2

						&:before
							content: ""
							position: absolute
							top: -25px
							left: 0px
							width: 0px
							height: 0px
							border-left: 50px solid transparent
							border-right: 50px solid transparent
							border-bottom: 25px solid $azul
							
						

						&:after
							content: ""
							position: absolute
							bottom: -130px
							left: -10px
							width: 120px
							height: 0
							border-width: 40px 30px
							border-style: solid
							border-color: $azul transparent transparent


					i
						position: relative
						z-index: 3
						color: $branco
						+font-size(48px)
						top: -45px
						//background: $bg_ligth_cinza
							


	.textos
		text-align: center
		+flexbox
		+make-sm-column(12)
		+font-size(16px)
		
		

	.textos
		+breakpoint($tablet)
			display: block
			+font-size(18px)

	


		.p1,.p2
			+make-sm-column(6)
			+make-sm-column-offset(1)
			margin: 15px 35px
			padding: 5px
			color: $cinza-escuro

		.p1,.p2
			+breakpoint($tablet)
				margin: 10% auto
				
			

			strong
				color: $azul
				font-weight: $semi-bold

			span
				text-decoration: underline
				color: $azul	
				font-weight: $semi-bold

			h1
				color: $cinza_wp
				font-size: 20pt
				margin-bottom: 30px		