section.habilidades
		padding-bottom: 50px
		.html, .css
			h1
				text-transform: uppercase
		h1
			+make-sm-column-offset(0.5)
			+font-size(30px)
			color:  #969696


		.icon-habilidades
			//border: 1px solid #000
			//background: $azul-claro
			margin: 20px 0
			+make-sm-column(10)
			+make-sm-column-offset(0.5)

			+breakpoint($celular)
				margin: 0
				


			[class^="icone-"]
				//background: $verde
				//border: 1px solid #000
				display: inline-block
				margin: 0 40px 25px 0 
				padding: 0 10px
				text-align: center
				+font-size(100px)

				+breakpoint($celular)
					+font-size(75px)

				
				&.icone-html
						color: $laranja
				&.icone-css
						color: $azul-css
				&.icone-sass
						color: $rosa_sass
				&.icone-bootstrap
					img
						width: 85px
				&.icone-js
						color: $amarelo_js
				&.icone-jquery
					img
						width: 85px
				&.icone-node
						color: $verde_node
				&.icone-gulp
						color: $vermelho_gulp
				&.icone-bower
					position: relative
					width: 100px
					img
						width: 100px
						+breakpoint($celular)
							margin-left: -15px
				&.icone-github
						color: #000
				&.icone-photoshop
					img
						width: 85px
				&.icone-github
				&.icone-wordpress
						color: $bg_cinza


				h3
					color: #000
					+font-size(18px)
					text-transform: normal
					margin-top: 20px
					//background: $azul-claro
					font-family: 'Open Sans', sans-serif



