section.contato
	padding-bottom: 50px
	.descricao
		text-align: center
		+font-size(30px)
		margin: 60px 0
		color: $cinza-escuro
		strong
			color: $azul
	.texto-contato
		margin-top: 30px
		color: $cinza-escuro
		+make-sm-column-offset(0.5)
		+make-sm-column(12)
		.p1,.p2
			+make-sm-column(8)
			+font-size(20px)
			+breakpoint($tablet)
				+font-size(17px)
			margin: 20px auto	
			a
				color: $azul
				text-decoration: underline
	.form
		+make-sm-column-offset(0.5)
		+make-sm-column(12)
		margin: 80px 0 20px 0
		span,
		input,
		.next,
		.send
			float: left
		span
			color: $cinza-escuro
			margin-top: 5px
		.campo,
		.botoes	
			+make-sm-column(12)
			//border: 1px solid #000
			margin: 25px auto
			input[type="text"]
				border-color: $cinza-escuro
				border-width: 0px 0px 1px 0px
				width: 40%
				margin-left: 10px
				outline: none
				+breakpoint($tablet)
					margin-bottom: 10px
					width: 80%
		.campo
			display: flex
			flex-direction: column
			min-height: 30px
			height: auto
			[class^="content-email"],
			[class^="content-msg"],
			[class^="content-name"]
				.msg-error
					display: none
					color: red
					font-size: 11px
					margin-left: 25px
					top: -0.2em
					height: 5px
					&.on
						display: block
			[class^="content-"]
				width: 100%
				position: absolute
				top: 0
				&.off
					display: none
			[class^="content-email"],
			[class^="content-msg"]
				display: none
				&.on
					display: block