section.portfolio
	background-color: $bg_cinza_ligth
	padding-bottom: 50px
	.descricao
		text-align: center
		+font-size(30px)
		margin: 60px 0
		color: $cinza-escuro

		strong
			color: $azul

	.print-job
		+make-sm-column(4)
		+make-sm-column-offset(0.5)
		//border: 1px solid #000
		padding: 10px 15px 10px
		background: $branco

		&:hover
			box-shadow: 4px 2px 8px 2px gray
			+transition(0.8s)


		h1
			+font-size(18px)
			margin: 15px 0
			letter-spacing: 2px

		h3
			+font-size(16px)
			margin-bottom: 30px

	.print-hover
		+make-sm-column(4)
		+make-sm-column-offset(0.5)
		position: relative
		top: 0px
		//border: 1px solid #000
		padding: 10px 15px 10px
		background: red
		

		




