section.contato
	padding-bottom: 50px
	.descricao
		text-align: center
		+font-size(30px)
		margin: 60px 0
		color: $cinza-escuro
		

		strong
			color: $azul
			text-decoration: underline
		
	.texto-contato
		margin-top: 30px
		color: $cinza-escuro
		+make-lg-column-offset(0.5)
		+make-lg-column(12)
		//border: 1px solid #000
		

		.p1,.p2
			+make-lg-column(8)
			+font-size(20px)

			+breakpoint($tablet)
				+font-size(17px)

			margin: 20px auto	

			a
				color: $azul
				text-decoration: underline

	.form
		+make-lg-column-offset(0.5)
		+make-lg-column(12)
		margin: 80px 0 20px 0

		span,
		input,
		.next,
		.send
			float: left

		span
			color: $cinza-escuro
			margin-top: 5px
			
		.campo,
		.botoes	
			+make-lg-column(12)
			//border: 2px solid #000
			margin: 15px auto

			input[type="text"]
				border-color: $cinza-escuro
				border-width: 0px 0px 1px 0px
				width: 40%
				margin-left: 10px

				
		











			
			
	

