.box
	+make-lg-column(12)
	height: auto
	margin: 30px 50px  
	padding: 20px 0
	////border: 1px solid #000
	box-shadow: 2px 3px 10px 2px $sombra_box
		
	.line
		+make-lg-column(11)
		+make-lg-column-offset(0.5)
		margin: 20px 0
		border: 0.5px solid $sombra_box
		box-shadow: 2px 2px 10px 4px $sombra_box 