.chamada_section
		height: 130px
		//background: $bg_ligth_cinza
		clear: both
		
		
 
		.sp-left
			top: 50%
			height: 2px
			background: $azul-escuro
			+make-lg-column(2)
			+make-lg-column-offset(1)

		.sp-center
			+font-size(50px)
			text-transform: uppercase
			letter-spacing: 5px
			line-height: 120px
			height: 2px
			+make-lg-column(2)
			+make-lg-column-offset(1.5)

		.sp-rigth
			top: 50% 
			line-height: 150px
			height: 2px
			background: $azul-escuro		
			+make-lg-column(2)
			+make-lg-column-offset(9)


		
