.chamada_section
		height: 130px
		clear: both
		
		
 
		.sp-left
			top: 50%
			height: 2px
			background: $azul-escuro
			+make-sm-column(2)
			+make-sm-column-offset(1)

		.sp-left
			+breakpoint($tablet)
				+make-sm-column-offset(0.5)
		.sp-left
			+breakpoint($sm_celular)
				+make-sm-column(3)

		.sp-center
			//background: #6568cc
			text-align: center
			+font-size(30pt)
			text-transform: uppercase
			letter-spacing: 5px
			line-height: 120px
			height: 2px
			+make-sm-column(2)
			+make-sm-column-offset(2)

		.sp-center
			+breakpoint($tablet)
				+make-sm-column-offset(1.5)
		.sp-center
			+breakpoint($sm_celular)
				+make-sm-column(3)

		.sp-rigth
			top: 50% 
			line-height: 150px
			height: 2px
			background: $azul-escuro		
			+make-sm-column(2)
			+make-sm-column-offset(9)

		.sp-rigth
			+breakpoint($tablet)
				+make-sm-column-offset(8.5)
		.sp-rigth
			+breakpoint($sm_celular)
				+make-sm-column(3)

.chamada_section
	+breakpoint($celular)
		background: $bg_ligth_cinza

		
